  <header class="header">
    <a href="/" style="text-decoration: none;"><h1>Covaccine Scheduler</h1></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" htmlFor="menu-btn">
      <span class="navicon"></span>
    </label>
    <ul class="menu">
      <li>
        <a href="/about">About Developers</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </ul>
  </header>
