<h1 style="color: aliceblue;">Slide the Slider to compare Images</h1>
<div class="full-container">
  <h1>global temperature</h1>
  <div class="comparison-container">
    <img src="/img/2020.png" width="auto" height="400" alt="marioPhoto 2" />
    <div class="caption">2020</div>
  
    <div class="comparison-lhs">
      <img src="/img/1964.png" width="auto" height="400" alt="marioPhoto 1" />
      <div class="caption">1964</div>
    </div>
  </div>
  <p>Dark blue indicates areas cooler than average. Dark red indicates areas warmer than average.</p>
</div>

<div class="full-container">
  <h1>Arctic sea-ice coverage hits record low</h1>
  <div class="comparison-container">
    <img  src="/img/Arctic2012.jpg" width="auto" height="400" alt="marioPhoto 2" />
    <div class="caption">2012</div>
  
    <div class="comparison-lhs">
      <img src="/img/Arctic1984.jpg" width="auto" height="400" alt="marioPhoto 1" />
      <div class="caption">1984</div>
    </div>
   </div>
<p></p>
</div>

<div class="full-container">
  <h1>Arctic sea ice declines</h1>
  <div class="comparison-container">
    <img  src="/img/ice2016.jpg" width="auto" height="400" alt="marioPhoto 2" />
    <div class="caption">2016</div>
  
    <div class="comparison-lhs">
      <img src="/img/ice1984.jpg" width="auto" height="400" alt="marioPhoto 1" />
      <div class="caption">1984</div>
    </div>
   </div>
<p>The area covered by Arctic sea ice at least four years old has decreased from 718,000 square miles (1,860,000 square kilometers) in September 1984 to 42,000 square miles (110,000 square kilometers) in September 2016. </p>
</div>


<div class="full-container">
  <h1>Carbon Dioxide</h1>
  <div class="comparison-container">
    <img  src="/img/co2-2016.png" width="auto" height="400" alt="marioPhoto 2" />
    <div class="caption">2016</div>
  
    <div class="comparison-lhs">
      <img src="/img/co2-2002.png" width="auto" height="400" alt="marioPhoto 1" />
      <div class="caption">2002</div>
    </div>
   </div>
<p></p>
</div>

<script>
(function() {
	"use strict";

	function $$(selector) {
		return Array.from(document.querySelectorAll(selector));
	}

	function syncSize(master, slave) {
		slave.style.width = master.clientWidth + 'px';
	}

	function getMouseX(parent, e) {
		const bounds = parent.getBoundingClientRect(),
			  x = e.clientX - bounds.left;
		return { x, width: bounds.width };
	}

	function initComparer(lhs) {
		const container = lhs.closest('.comparison-container'),
			  splitPos = lhs.dataset.comparisonSplitter;
		let dragOffset;

		//Lock the compared element's width to the original width:
		window.addEventListener('load', e => syncSize(container, lhs));
		window.addEventListener('resize', e => syncSize(container, lhs));
		syncSize(container, lhs);

		//Put the compared element into a resizable wrapper:
		const lhsWrapper = container.appendChild(document.createElement('div'));
		lhsWrapper.classList.add('comparison-lhs-wrapper');
		lhsWrapper.appendChild(lhs);

		const dragger = container.appendChild(document.createElement('div'));
		dragger.classList.add('comparison-dragger');

		if(splitPos) {
			lhsWrapper.style.width = dragger.style.left = splitPos;
		}
		
		//Dragging magic:
		dragger.onmousedown = (e) => {
			e.preventDefault();
			dragOffset = getMouseX(dragger, e);
			//console.log(lhs, dragOffset)
		};
		container.addEventListener('mousemove', e => {
			if(dragOffset) {
				if(e.buttons === 1) {
					e.preventDefault();

					const newX = getMouseX(container, e),
						  relX = (newX.x - dragOffset.x) / newX.width;
					lhsWrapper.style.width = dragger.style.left = (Math.max(0, Math.min(relX, 1)) * 100) + '%';
				}
				else {
					dragOffset = undefined;
				}
			}
		});
	}

	function init() {
		$$('.comparison-lhs').forEach(initComparer);
	}

	init();
})();
</script>