<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head.ejs'); -%>
    </head>
    <body class="second">
      <%- include('components/header.ejs'); -%>

      <br>
      <br>
      <br>
      <br>
      <div style="color: white;" class="project" >
        <div class="text">
            <h1>Hi there, I'm Vimal kumar</h1>
            <code>Full-Stack developer & Web Designer </code>
        </div>
        <div class="img">
            <img src="./img/octocat.png" alt="vimal">
        </div>
      </div>

      <a class="left" style="color: red; background-color: wheat;  position: relative; top: 50px;" href="https://climate.nasa.gov/"><h1>All the data and image are taken from NASA</h1></a>
      <br>
      <br>
      <br>
      <%- include('components/footer.ejs'); -%>


        <!--JavaScript - Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
