<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head.ejs'); -%>
        <title>Covaccine Scheduler</title>
    </head>
    <body style="text-align: center;">
      <%- include('components/header.ejs'); -%>

      <div class="project right">

            <div class="card icon-box"    >
            <img src=/img/ironcat.jpg alt="Project" />
            <h1 class="black">Vimal Kumar</h1>
            <p class="black">Full stack deveoper</p>
            <code>Backend, Frontend</code>
            <div class="icons">
            <a href=https://vimal.letskhabar.com><i class="fas fa-globe fa-2x"></i></a>
            <a href=https://github.com/vimalverma558><i class="fab fa-github fa-2x"></i></a>
            </div>
            </div>

            <div class="card icon-box"    >
            <img src=/img/ironcat.jpg alt="Project" />
            <h1 class="black">Vimal Kumar</h1>
            <p class="black">Full stack deveoper</p>
            <code>Backend, Frontend</code>
            <div class="icons">
            <a href=https://vimal.letskhabar.com><i class="fas fa-globe fa-2x"></i></a>
            <a href=https://github.com/vimalverma558><i class="fab fa-github fa-2x"></i></a>
            </div>
            </div>
        
        
      </div>

      <br>
      <br>
      <%- include('components/footer.ejs'); -%>


        <!--JavaScript - Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
