<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs'); -%>
    <title>Covaccine Scheduler</title>
  </head>
  <body>
    <%- include('components/header.ejs'); -%>


    <section class="showcase">
      <video src="./nasa.mp4" muted loop autoplay></video>
      <div class="text">
        <h2>Never Stop To </h2> 
        <h3>Exploring The World</h3>
        <p>Climate Change is very big issue we can minimaze  it by share data and knowladge Climate Change is very big issue we can minimaze  it by share data and knowladge Climate Change is very big issue we can minimaze  it by share data and knowladge Climate Change is very big issue we can minimaze  it by share data and knowladge.</p>
        <a href="#">Explore</a>
      </div>
    </section>

    <div class="social">
      <h1>Vimal</h1>
    </div>
    <br />
    <%- include('components/footer.ejs'); -%>

    <!--JavaScript - Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
       const menuToggle = document.querySelector('.toggle');
      const showcase = document.querySelector('.showcase');

      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active');
        showcase.classList.toggle('active');
      })
    </script>
  </body>
</html>
