<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs'); -%>
  </head>
  <body>
    <%- include('components/header.ejs'); -%>


    <section class="showcase">
      <video src="./nasa.mp4" muted loop autoplay></video>
      <div class="text">
        <h3>Be cool and let the</h3> 
        <h2>earth be cool</h2>
        <p>Over the past 50 years, the average global temperature has increased at the fastest rate in recorded history. And experts see the trend is accelerating: All but one of the 16 hottest years in NASA’s 134-year record have occurred since 2000.</p>
        <a href="#sccond">Explore</a>
      </div>
    </section>

    <div id="sccond" class="sccond">
      <%- include('components/imagec.ejs'); -%>
      <br>
      <br>

      <br>
      <br>
      <br>
    <%- include('components/footer.ejs'); -%>
    </div>
    <br />

    <!--JavaScript - Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
       const menuToggle = document.querySelector('.toggle');
      const showcase = document.querySelector('.showcase');

      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active');
        showcase.classList.toggle('active');
      })
    </script>
  </body>
</html>
